@page "/rooms"
@rendermode RenderMode.InteractiveServer

@using Microsoft.AspNetCore.Components.Web

<h3>RoomPage</h3>

@* TODO 

Fixa QuickGrid, Kolla inloggad användare. 

Hämta data från API:et och visa rum i en lista (GetAllSpecification).

Skapa en RoomModel och visa den i en EditForm. (Lägg till, uppdatera, ta bort rum)
Kolla inloggad användare och beroende på roll visa olika knappar för att lägga till, uppdatera och ta bort rum.
styr editerbara fält på Roommodel beroende på roll.

Skapa en ViewModel som vid sparande Invokar RoomEntity SaveChangesAsync() och RoomEntity DeleteAsync().

*@

@code {

}
